.App p {
  margin: 2em auto 0.8em;
  max-width: 50em;
}

body {
  background-color: #dddddd;
  }
h1 {
  color: #f76300;
  font-family: arial;
}
h2 {
  color: #f76300;
  font-family: arial;
}

p {
  color: #3d3d3d;
  font-family: arial;
}

.App .side_by_side {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: 1.2em 0.4em 0.8em;
}

.App .side_by_side .section {
  flex: 1 1;
  align-self: flex-start;
  min-width: 27em;
  padding: 0 1.6em;
  /* border-style: dashed; */
}

.App .center {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
}

body {
  text-align: center;
}